
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


body {
    font-family: "Inter", regular;
}
main {
    font-family: "Inter", regular;
}
h1 {
    font-size: 75px;
    font-family: "Inter", bold;
    margin-left:50px;
}
td, th {
    background: #BBE3E5;
}
h2 {
    font-size: 50px;
    font-family: "Inter", bold;
}